.ulc {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: white;
    border-bottom: 2px solid #E1E8ED;
    padding-bottom: 10px;
  }
  
  .lic {
    float: left;
    margin-left: 25%;
    display: block;
  }
  
  .lic a {
    display: inline-flex;
    color: black;
    text-align: center;
    text-decoration: none;
  }

  .text-nav-top {
    font-size: x-large;
    font-weight: bolder;
    padding-left: 6px;
  }
  
  .top-nav {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1;
    width: 100%;
    height: 23px;
  }