  .main {
    margin-left: 30%;
    overflow-x: hidden;
    z-index: 3;
  }

  .main h2{
    font-family: 'Helvetica';
    font-weight: bolder;
    font-size: 110%;
  }

  .container .mt-5{
      margin-left: 0;
  }

  .col-md-6{
      padding-left: 0 !important;
      border-left-style: hidden !important;
  }
  
  @media screen and (max-height: 450px) {
    .sidenav {padding-top: 15px;}
    .sidenav a {font-size: 18px;}
  }
  form .button-blue{
    width: 100%;
  }

  .cbox {
    width: 100%;
    height: 100%;
  }

  textarea  {
    width: 100%;
    height: 100%;
    border-style: hidden;
    overflow-x: hidden;
    overflow-y: hidden !important;
  }

  textarea:focus{
    outline: 0;
  }

  .comment {
    width: 100%;
    height: 90px;
  }
  
  .contains {
    overflow-x: hidden !important;
  }
  
  /* Taken from https://bbbootstrap.com/snippets/bootstrap-simple-comment-section-74163212 */
  .comment-section {
      display: block;
      border-style: solid;
      border-width: 1px;
      border-color: #E1E8ED;
      max-width: 700px;
  }
  
  .name {
      font-size: 20px
  }
  
  .comment-content {
      font-size: 14px
  }
  
  .comments {
      color: blue
  }